body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: #333;
}

h1 {
    color: #007BFF;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}