body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #007BFF;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

label {
    margin-top: 1.2em;
    margin-right: 10px;
    font-weight: bold;}

button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

input{
    padding: 10px;
    margin-top: 10px;
    padding-left: 3em;
    border: 1px solid #ccc;
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

#suggestions {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 4.5em;
}

/* Style des éléments de suggestion */
.suggestion-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background 0.2s ease-in-out;
}

/* Effet au survol */
.suggestion-item:hover {
    background: #f0f0f0;
}

/* Style des images dans la liste de suggestions */
.suggestion-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}