body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: #333;
    background-color: #f0f0f0; /* Couleur de fond pour le corps */
}

h1 {
    color: #007BFF;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.artist-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, 25%); 
    grid-gap: 20px; 
    justify-items: center; 
  }

.artist-card {
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 5px;
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-card h3 {
    margin: 10px 0;
    color: #333;
    text-align: center;
  }
