<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
</head>
<body>
    <h1>{{.Name}}</h1>
    <img src="{{.Image}}" alt="{{.Name}}">
    <div class="artist-container">
        {{range .}}
            <div class="artist-card">
                <h3>{{.ArtistName}}</h3>
                <img src="{{.ArtistImage}}"  alt="Image de {{.ArtistName}}"></img>
                <ul>
                    {{range $location, $dates := .DatesLocations}}
                        <li>
                            <a href="https://www.google.fr/maps/place/{{$location}}" target="_blank"><strong>{{$location}}:</strong></a> {{$dates}}
                        </li>
                    {{end}}
                </ul>
            </div>
        {{else}}
            <p>Aucun concert trouvé.</p> 
        {{end}}
    </div>
</body>
</html>
