<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtre par Artiste</title>
    <link rel="stylesheet" href="/static/style.css"> 
</head>
<body>
    <h1>Filtrage des Artistes</h1>
    <form method="GET" action="/">
        <label for="filter">Rechercher un artiste :</label>
        <input type="text" name="filter" id="filter">
        <button type="submit">Rechercher</button>
    </form>

    <h2>Résultats des concerts :</h2>
    <div class="artist-container">
        {{range .}}
            <div class="artist-card">
                <h3>{{.ArtistName}}</h3>
                <img src="https://groupietrackers.herokuapp.com/api/images/{{.ArtistNameLower}}.jpeg" alt="Image de {{.ArtistName}}"></img>
                <ul>
                    {{range $location, $dates := .DatesLocations}}
                        <li><strong>{{$location}}:</strong> {{$dates}}</li>
                    {{end}}
                </ul>
            </div>
        {{else}}
            <p>Aucun concert trouvé.</p> 
        {{end}}
    </div>

</body>
</html>
